name: Fetch Mii

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  fetch:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Run fetch-mii
        run: node fetch-mii.js

      - name: Commit mii.json
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add mii.json
          git commit -m "Update mii.json" || echo "No changes"
          git push
