name: Update Ghosts

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install

      - run: node fetch-ghosts.js

      - name: Commit ghosts.json
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add ghosts.json
          git commit -m "Auto update ghosts" || echo "No changes"
          git push
